/* PAGE HEADER */

.header {
	@media @tablet-w {
		margin-bottom: 40px;
	}
	&__top {
		padding: 35px 0;
		.soc-links {
			padding: 12px 20px;
			@media (min-width: 960px) and (max-width: 1085px) {
				padding: 12px 5px;
			}
		}
	}
	&__bottom {
		padding: 10px 0;
		background-color: #f8f7e7;
		a.btn {
			margin-top: 0;
			float: right;
		}
	}
	&__search {
		padding-top: 20px;
		display: inline-block;
		text-decoration: none;
		color: #000000;
		float: right;
		&:hover {
			color: #ff0043;
			text-decoration: none;
		}
	}
}

.contacts {
	color: #000000;
	&__timework {
		padding: 6px 0;
	}
	&__address {
		padding: 6px 0;
		@media (min-width: 960px) and (max-width: 1085px) {
			font-size: 14px;
		}
		a {
			position: relative;
			padding-left: 15px;
			color: #4a4a4a;
			font-size: 13px;
			font-family: @mainFont !important;
			&:hover {
				color: #dd0039;
			}
			&:before {
				position: absolute;
				left: 0;
				top: 2px;
				font-size: 12px;
				color: #ff0043;
				font-family: 'icomoon' !important;
			}
		}
	}
	&__telephones {
		padding: 6px 0;
		a {
			margin-bottom: 5px;
			display: inline-block;
			&.icon-telephone {
				position: relative;
				padding-left: 20px;
				color: #4a4a4a;
				font-size: 13px;
				font-family: @mainFont !important;
				&:hover {
					color: #dd0039;
				}
				&:before {
					position: absolute;
					left: 0;
					top: 0;
					font-size: 12px;
					color: #ff0043;
					font-family: 'icomoon' !important;
				}
			}
		}
	}
	.uk-grid {
		div[class^='uk-width-']:first-child {
			padding-left: 0;
		}
	}
}

.soc-links {
	padding: 12px 0;
	display: flex;
	justify-content: space-between;
	a {
		margin-right: 20%;
		display: inline-block;
		vertical-align: top;
		width: 30px;
		height: 30px;
		float: left;
		line-height: 30px;
		text-align: center;
		box-shadow: 0 2px 4px rgba(213, 213, 213, 0.5);
		background-color: #ffffff;
		border-radius: 50%;
		text-decoration: none;
		transition: box-shadow .3s, background-color .3s ease;
		&:before {
			color: #293146;
			transition: color .3s ease;
		}
		&:hover {
			box-shadow: 0 2px 4px rgba(221, 0, 57, .5);
			&:before {
				color: #ff0043;
			}
		}
		&:focus {
			background-color: #dd0039;
			&:before {
				color: #ffffff;
			}
		}
		&:last-child {
			margin-right: 0;
		}
	}
}

.main-tel {
	color: #000000;
	font-size: 17px;
	font-weight: 700;
	text-decoration: none;
	@media (min-width: 960px) and (max-width: 1085px) {
		font-size: 14px;
	}

}


.nav-list {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	li {
		height: 40px;
		line-height: 40px;
		a {
			color: #2a3246;
			font-weight: 700;
			text-decoration: none;
			&:hover {
				color: #dd0039;
			}
		}
	}
}

/* HEADER MOBILE */

.header-mobile {
	padding: 20px 0;
	a.menu {
		display: inline-block;
		width: 40px;
		height: 40px;
		color: #ff0043;
		font-size: 28px;
		text-decoration: none;
		@media (min-width: 370px) {
			margin-top: 10px;
		}
		&:before {
			font-size: 40px;
		}
	}
	a.btn.btn--fill {
		padding: 0;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		@media (min-width: 370px) {
			margin-top: 10px;
		}
		&:before {
			position: static;
			display: inline;
			line-height: inherit;
		}
	}
	.search-form {
		display: block;
	}
	.mobile-tel {
		margin: 30px 0 20px;
		text-align: center;
		a.main-tel {
			position: relative;
			padding-left: 26px;
			color: #000000;
			font-size: 21px;
			font-weight: 700;
			font-family: @mainFont !important;
			&:before {
				position: absolute;
				top: 5px;
				left: 0;
				font-size: 15px;
				font-family: 'icomoon' !important;
				color: #ff0043;
			}
		}
	}
	.mobile-search {
		.search-form {
			padding-right: 0;
			&__btn {
				width: 40px;
			}
			input {
				padding-left: 20px;
			}
		}
	}
}


.uk-offcanvas {
	&-bar {
		background-color: #ffffff;
	}
	.uk-panel {
		.uk-nav {
			li {
				&.uk-active {
					a {
						color: #ff0043;
					}
				}
			}
			a {
				color: #000000;
				font-size: 18px;
				font-weight: 700;
				&:hover {
					color: #ff7e9f;
				}
				&.uk-active {

				}
			}
		}
	}
}
