/* NEWS */

.news {
	@media @mob-w {
		h2 {
			text-align: center;
		}
	}
	.uk-container {
		position: relative;
	}
	.btn.btn--gray {
		position: absolute;
		top: -5px;
		right: 15px;
		@media @mob-w {
			position: static;
			margin: 30px auto 0;
			display: block;
			max-width: 195px;
			text-align: center;
		}
	}
	&__list {
		font-size: 0;
	}
	&__item {
		margin-bottom: 30px;
		margin-right: 2.6666%;
		padding: 7px 8px 25px;
		display: inline-block;
		width: 23%;
		vertical-align: top;
		box-shadow: 0 7px 20px rgba(143, 150, 160, 0.11);
		border-radius: 10px;
		border: 1px solid #e7f2f8;
		background-color: #ffffff;
		transition: box-shadow .3s ease;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			.blockShadow();
		}
		.btn {
			position: relative;
			margin-left: 9%;
			margin-bottom: 0;
		}
		@media @mob-w {
			width: 100%;
			margin-right: 0;
			padding-left: 0;
			padding-right: 0;
		}
		@media @tablet-w {
			margin-right: 5%;
			width: 30%;
			&:nth-child(3n) {
				margin-right: 0;
			}
		}
		@media @desk-w {
			&:nth-last-child(-n+4) {
				margin-bottom: 0;
			}
			&:nth-child(4n) {
				margin-right: 0;
			}
		}

	}
	&__img {
		max-height: 140px;
		text-align: center;
		@media @mob-w {
			display: none;
		}
		a {
			position: relative;
			display: block;
		}
		img {
			display: inline;
			max-height: 100%;
		}
	}
	&__date-wrapper {
		padding: 12px 9%;
		font-size: 10px;
		color: #8f96a0;
		@media @mob-w {
			font-size: 18px;
		}
	}
	&__date,
	&__promo {
		display: inline-block;
		vertical-align: top;
		text-transform: uppercase;
	}
	&__promo {
		position: relative;
		margin-left: 1px;
		padding-left: 5px;
		&:before {
			content: '|';
			position: absolute;
			left: 0;
		}
	}
	&__title {
		margin-bottom: 10px;
		padding: 0 3% 0 9%;
		color: #000000;
		font-size: 16px;
		font-weight: 700;
	}
	&__text {
		margin-bottom: 20px;
		padding: 0 3% 0 9%;
		color: #9b9b9b;
		font-size: 10px;
		line-height: 14px;
		@media @mob-w {
			font-size: 14px;
			line-height: 21px;
		}
	}
}


/* NEWS DETAIL */

.news-detail {
	margin-top: -40px;
	&__banner {
		margin-bottom: 60px;
		@media @mob-w {
			margin-bottom: 40px;
		}
		img {
			max-width: 100%;
		}
	}
	&__date {
		margin-bottom: 15px;
		color: #8f96a0;
		line-height: 21px;
	}
	&__title {
		margin-bottom: 50px;
		font-size: 36px;
		line-height: 42px;
		@media @mob-w {
			margin-bottom: 30px;
		}
	}
	&__promo-title {
		margin-bottom: 50px;
		color: #2a3246;
		font-size: 24px;
		line-height: 26px;
	}
}
