{% block content %}
	<footer class="footer">
		<div class="uk-container">
			<form action="" class="page-form-search">
				<input type="text" placeholder="Искать по направлениям, врачам и услугам">
				<button class="page-form-search__btn icon-search"></button>
			</form>
			<div class="uk-grid">
				<div class="uk-width-1-1 uk-width-medium-1-4 uk-width-large-1-5">
					<div class="footer-contacts">
						<div class="contacts__telephones">
							<a href="tel:+74951042350" class="main-tel">+7 (495) 104 23 50</a>
							<a href="#callback-modal" class="icon-telephone" data-uk-modal>Заказать звонок</a>
						</div>
						<div class="contacts__timework">
							<div>пн-пт: 08:00-21:00</div>
							<div>сб-вс: 09:00-18:00</div>
						</div>
						<div class="contacts__address">
							<div>г. Москва ул. Сретенка, д. 9</div>
							<a href="/contacts" class="icon-pick">Посмотреть на карте</a>
						</div>
					</div>
				</div>
				<div class="uk-width-1-1 uk-width-medium-1-4 uk-width-large-1-5 uk-hidden-small">
					<div class="footer__title" data-role="toggle-list">Специалисты</div>
					<ul class="footer__list">
						<li><a href="#">Аллерголог-иммунолог</a></li>
						<li><a href="#">Гинеколог</a></li>
						<li><a href="#">Кардиолог</a></li>
						<li><a href="#">Уролог</a></li>
						<li><a href="#">Эндокринолог</a></li>
						<li><a href="#">Психотерапевт</a></li>
					</ul>
				</div>
				<div class="uk-width-1-1 uk-width-medium-1-4 uk-width-large-1-5 uk-hidden-small">
					<div class="footer__title" data-role="toggle-list">Направления</div>
					<ul class="footer__list">
						<li><a href="#">Акушерство</a></li>
						<li><a href="#">Аллергология</a></li>
						<li><a href="#">Гастроэнтерология</a></li>
						<li><a href="#">Гинекология</a></li>
						<li><a href="#">Годовые медицинские программы</a></li>
						<li><a href="#">Гомеопатия</a></li>
					</ul>
				</div>
				<div class="uk-width-1-1 uk-width-medium-1-4 uk-width-large-1-5 uk-hidden-small">
					<div class="footer__title" data-role="toggle-list">Услуги</div>
					<ul class="footer__list">
						<li><a href="#">Акушерство</a></li>
						<li><a href="#">Ведение беременности</a></li>
						<li><a href="#">Программы ведения беременности</a></li>
						<li><a href="#">Уролог</a></li>
						<li><a href="#">Расцеживание груди</a></li>
						<li><a href="#">Гинекология</a></li>
					</ul>
				</div>
				<div class="uk-width-1-1 uk-width-medium-1-1 uk-width-large-1-5">
					<div class="footer__add-info uk-hidden-small">
						<div>
							<a href="#">О клинике</a>
						</div>
						<div>
							<a href="#">Врачи</a>
						</div>
						<div>
							<a href="#">Контакты</a>
						</div>
					</div>
					<div class="soc-links">
						<a href="" class="soc-link icon-instagram"></a>
						<a href="" class="soc-link icon-vk"></a>
						<a href="" class="soc-link icon-faceboook"></a>
					</div>
				</div>
			</div>
			<div class="footer__politics">
				Все медицинские услуги клиники осуществляются в полном соответствии с Лицензией и стандартами оказания медицинской помощи, утвержденными Минздравом России.  Диагностика и лечение проводятся сертифицированными врачами на высокоточном оборудовании, регулярно проходящем проверку по системе АНТИ-ВИЧ и АНТИ-ГЕПАТИТ, а также проверку санитарно-гигиенического контроля.
			</div>
		</div>
	</footer>
{% endblock %}

