{% block content %}
<div id="callback-modal" class="uk-modal default-modal">
	<div class="uk-modal-dialog">
		<div class="uk-modal-header">
			<div class="title">Записаться на прием</div>
			<a class="uk-modal-close uk-close"></a>
		</div>
		<div class="uk-modal-body">
			<form action="">
				<fieldset>
					<input type="text" placeholder="Имя">
					<input type="text" placeholder="Телефон">
					<input type="text" placeholder="E-mail">
				</fieldset>
				<fieldset>
					<div class="custom-input__wrapper">
						<input type="text" class="custom-input" data-uk-datepicker="{format:'DD.MM.YYYY',weekstart: 0, i18n:{months:['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'], weekdays: ['Пн','Вт','Ср','Чт','Пт','Сб','Вс']}}" placeholder="Дата">
						<i class="icon-arrow-down-icon"></i>
					</div>
					<div class="custom-input__wrapper">
						<input type="text" class="custom-input" data-uk-timepicker="{format:'24h', start: 8, end: 21}" placeholder="Время">
						<i class="icon-arrow-down-icon"></i>
					</div>
					<select name="" id="" class="customSelect js__custom-select">
						<option value="" class="placeholder"></option>
						<option value="Петров Павел Юрьевич">Петров Павел Юрьевич</option>
						<option value="Петров Павел Юрьевич">Петров Павел Юрьевич</option>
						<option value="Петров Павел Юрьевич">Петров Павел Юрьевич</option>
						<option value="Петров Павел Юрьевич">Петров Павел Юрьевич</option>
						<option value="Петров Павел Юрьевич">Петров Павел Юрьевич</option>
					</select>
				</fieldset>
				<label for="politics">
					<input type="checkbox" id="politics">
					<span class="custom-checkbox"></span>
					<span class="custom-label">Я ознакомлен и согласен с условиями обработки данных</span>
				</label>
				<button type="submit" class="modal-btn btn btn--fill">Записаться</button>
			</form>
		</div>
	</div>
</div>

{% endblock %}

