{% extends "layouts/default.html" %}
{% set title="Услуги и цены" %}
{% set bread = ["Главная", "О Клинике"] %}
{% set main = false %}
{% block content %}
	<div class="content">
		<div class="content-header">
			<div class="uk-container">
				{% include "includes/breadcrumbs.html" %}
				<h1>О Клинике</h1>
			</div>
		</div>
		<div class="content-body">
			<div class="uk-container">
				<p>
					Нуждаетесь ли Вы в быстрой и качественной медицинской помощи в Москве или хотите получить консультацию европейского эксперта – мы сделаем все, чтобы Вы могли восстановить свое здоровье и остались довольны нашим сервисом. Среди наших партнеров в Москве и Европе лишь те, чье качество лечения и чуткое отношение к пациенту уже подтверждены многолетним опытом и рекомендациями. Все специалисты клиник-партнеров работают в системе преемственности методов лечения.
				</p>
				<p>
					Нуждаетесь ли Вы в быстрой и качественной медицинской помощи в Москве или хотите получить консультацию европейского эксперта – мы сделаем все, чтобы Вы могли восстановить свое здоровье и остались довольны нашим сервисом. Среди наших партнеров в Москве и Европе лишь те, чье качество лечения и чуткое отношение к пациенту уже подтверждены многолетним опытом и рекомендациями. Все специалисты клиник-партнеров работают в системе преемственности методов лечения.
				</p>
				<h2>Наши принципы</h2>
				<ul>
					<li>
						Системный подход к здоровью пациента: комплексное, а не ситуативное лечение.
					</li>
					<li>
						Ранняя диагностика заболеваний.
					</li>
					<li>
						Доступность европейского качества медицинской помощи.
					</li>
				</ul>
				<h2>Столичная медецина на Сретенке</h2>
				<p>
					- это Ваш удачный выбор, ищите ли Вы место, где сдать анализы быстро и качественно, или сделать гастроскопию во сне или колоноскопию без боли во сне, хотите найти возможность получить лечение без медицинского полиса (при постоянной прописке в других городах). Столичная Медицинская Клиника — это отличные отзывы и высокие стандарты работы — убедитесь сами!
				</p>
				<blockquote>
					Мы – команда единомышленников, объединенных стремлением дать пациентам новый уровень медицинского сервиса, неравнодушного отношения, сделать доступными новые услуги, формы ранней диагностики и лечения.
				</blockquote>
				<p>
					Нуждаетесь ли Вы в быстрой и качественной медицинской помощи в Москве или хотите получить консультацию европейского эксперта – мы сделаем все, чтобы Вы могли восстановить свое здоровье и остались довольны нашим сервисом. Среди наших партнеров в Москве и Европе лишь те, чье качество лечения и чуткое отношение к пациенту уже подтверждены многолетним опытом и рекомендациями. Все специалисты клиник-партнеров работают в системе преемственности методов лечения.
				</p>
				<ol>
					<li>
						Системный подход к здоровью пациента: комплексное, а не ситуативное лечение.
					</li>
					<li>
						Ранняя диагностика заболеваний.
					</li>
					<li>
						Доступность европейского качества медицинской помощи.
					</li>
				</ol>
			</div>
		</div>
	</div>
{% endblock %}
