{% extends "layouts/default.html" %}
{% set title="Врачи" %}
{% set bread = ["Главная", "Услуги и цены", "Врачи"] %}
{% set main = false %}
{% block content %}
	<div class="content">
		<div class="content-header">
			<div class="uk-container">
				{% include "includes/breadcrumbs.html" %}
				<h1>Врачи</h1>
				<form action="" class="page-form-search js__staff-filter">
					<input type="text" placeholder="Введите фамилию, специлизацию врача который Вас интересует">
					<button class="page-form-search__btn icon-search"></button>
				</form>
			</div>
		</div>
		<div class="content-body">
			<div class="uk-container">
				<div class="staff-cards-list">
					<div class="staff-card">
						<div class="staff-card__img"><img src="img/staff-card-img-235x200.jpg" alt="Папугин Андрей Владимирович"></div>
						<div class="staff-card__desc">
							<div class="staff-card__name"><span>Папугин</span>Андрей Владимирович</div>
							<div class="staff-card__text">Врач дерматовенеролог — косметолог. Высшей квалификационной категории.</div>
							<a href="#" class="btn btn--fill icon-doctor-symbol">Запись к врачу</a>
						</div>
					</div>
					<div class="staff-card" data-user='{"name": "Папугин", "staff": "терапевт"}'>
						<div class="staff-card__img"><img src="img/staff-card-img-235x200.jpg" alt="Папугин Андрей Владимирович"></div>
						<div class="staff-card__desc">
							<div class="staff-card__name"><span>Иванов</span>Андрей Владимирович</div>
							<div class="staff-card__text">Врач дерматовенеролог — косметолог. Высшей квалификационной категории.</div>
							<a href="#" class="btn btn--fill icon-doctor-symbol">Запись к врачу</a>
						</div>
					</div>
					<div class="staff-card" data-user='{"name": "Иванов", "staff": "окулист"}'>
						<div class="staff-card__img"><img src="img/staff-card-img-235x200.jpg" alt="Папугин Андрей Владимирович"></div>
						<div class="staff-card__desc">
							<div class="staff-card__name"><span>Пугачев</span>Андрей Владимирович</div>
							<div class="staff-card__text">Врач дерматовенеролог — косметолог. Высшей квалификационной категории.</div>
							<a href="#" class="btn btn--fill icon-doctor-symbol">Запись к врачу</a>
						</div>
					</div>
					<div class="staff-card" data-user='{"name": "Петров", "staff": "травматолого"}'>
						<div class="staff-card__img"><img src="img/staff-card-img-235x200.jpg" alt="Папугин Андрей Владимирович"></div>
						<div class="staff-card__desc">
							<div class="staff-card__name"><span>Папугин</span>Андрей Владимирович</div>
							<div class="staff-card__text">Врач дерматовенеролог — косметолог. Высшей квалификационной категории.</div>
							<a href="#" class="btn btn--fill icon-doctor-symbol">Запись к врачу</a>
						</div>
					</div>
					<div class="staff-card" data-user='{"name": "Хапугин", "staff": "гинеколог"}'">
						<div class="staff-card__img"><img src="img/staff-card-img-235x200.jpg" alt="Папугин Андрей Владимирович"></div>
						<div class="staff-card__desc">
							<div class="staff-card__name"><span>Папугин</span>Андрей Владимирович</div>
							<div class="staff-card__text">Врач дерматовенеролог — косметолог. Высшей квалификационной категории.</div>
							<a href="#" class="btn btn--fill icon-doctor-symbol">Запись к врачу</a>
						</div>
					</div>
					<div class="staff-card" data-user='{"name": "Ринатов", "staff": "рентгенолог"}'>
						<div class="staff-card__img"><img src="img/staff-card-img-235x200.jpg" alt="Папугин Андрей Владимирович"></div>
						<div class="staff-card__desc">
							<div class="staff-card__name"><span>Папугин</span>Андрей Владимирович</div>
							<div class="staff-card__text">Врач дерматовенеролог — косметолог. Высшей квалификационной категории.</div>
							<a href="#" class="btn btn--fill icon-doctor-symbol">Запись к врачу</a>
						</div>
					</div>
					<div class="staff-card">
						<div class="staff-card__img"><img src="img/staff-card-img-235x200.jpg" alt="Папугин Андрей Владимирович"></div>
						<div class="staff-card__desc">
							<div class="staff-card__name"><span>Папугин</span>Андрей Владимирович</div>
							<div class="staff-card__text">Врач дерматовенеролог — косметолог. Высшей квалификационной категории.</div>
							<a href="#" class="btn btn--fill icon-doctor-symbol">Запись к врачу</a>
						</div>
					</div>
					<div class="staff-card">
						<div class="staff-card__img"><img src="img/staff-card-img-235x200.jpg" alt="Папугин Андрей Владимирович"></div>
						<div class="staff-card__desc">
							<div class="staff-card__name"><span>Папугин</span>Андрей Владимирович</div>
							<div class="staff-card__text">Врач дерматовенеролог — косметолог. Высшей квалификационной категории.</div>
							<a href="#" class="btn btn--fill icon-doctor-symbol">Запись к врачу</a>
						</div>
					</div>
					<div class="staff-card">
						<div class="staff-card__img"><img src="img/staff-card-img-235x200.jpg" alt="Папугин Андрей Владимирович"></div>
						<div class="staff-card__desc">
							<div class="staff-card__name"><span>Папугин</span>Андрей Владимирович</div>
							<div class="staff-card__text">Врач дерматовенеролог — косметолог. Высшей квалификационной категории.</div>
							<a href="#" class="btn btn--fill icon-doctor-symbol">Запись к врачу</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
