{% extends "layouts/default.html" %}
{% set title="Врачи" %}
{% set bread = ["Главная", "Врачи", "Зорин Артем"] %}
{% set main = false %}
{% block content %}
	<div class="content">
		<div class="staff-detail-header">
			<div class="uk-container">
				{% include "includes/breadcrumbs.html" %}
				<h2>Зорин Артем Александрович</h2>
				<div class="detail-staff-position">Массажист</div>
				<div class="detail-staff-avatar"><img src="img/doctora-detail-250x210.jpg" alt="Зорин Артем Александрович"></div>
				<a href="#" class="btn btn--fill icon-doctor-symbol">Записаться к врачу</a>
			</div>
		</div>
		<div class="content-body">
			<div class="uk-container">
				<p>Действующий сертификат: «Медицинский массаж»</p>
				<p>Стаж работы более 20 лет.</p>
				<p>Образование:</p>
				<p>1995 г. «Медицинский брат». Ржевское медицинское училище Министерства Здравоохранения РФ.</p>
				<p>1995 г. Курс физиотерапии, ЛФК, массаж при Ржевском медицинском училище Министерства Здравоохранения РФ.</p>
				<p>Повышение квалификации:</p>
				<p>2014 г. Повышение квалификации «Медицинский массаж»  Федеральное государственное бюджетное образовательное учреждение высшего профессионального образования «РУДН» Министерства образования и науки РФ Факультета повышения квалификации медицинских работников.</p>
				<p>Методы и направления работы:</p>
				<ul>
					<li>Лечебный массаж</li>
					<li>Антицеллюлитный массаж</li>
					<li>Сегментарно-рефлекторный массаж</li>
					<li>Спортивный массаж</li>
					<li>Общий массаж</li>
				</ul>
				<div class="detail-services">
					<h2>Услуги врача</h2>
					<div class="services-list grid-4" data-uk-scrollspy="{cls:'uk-animation-fade uk-invisible', target:'.services-list__item', delay:200, repeat: false}">
						<div class="services-list__item uk-invisible">
							<div class="services-list__inner">
								<div class="services-list__name">Лечебный массаж</div>
								<a href="#" class="services-list__link">Перейти в раздел</a>
							</div>
						</div>
						<div class="services-list__item uk-invisible">
							<div class="services-list__inner">
								<div class="services-list__name">Лимфодренажный массаж</div>
								<a href="#" class="services-list__link">Перейти в раздел</a>
							</div>
						</div>
						<div class="services-list__item uk-invisible">
							<div class="services-list__inner">
								<div class="services-list__name">Антицеллюлитный массаж</div>
								<a href="#" class="services-list__link">Перейти в раздел</a>
							</div>
						</div>
						<div class="services-list__item uk-invisible">
							<div class="services-list__inner">
								<div class="services-list__name">Китайский традиционный массаж</div>
								<a href="#" class="services-list__link">Перейти в раздел</a>
							</div>
						</div>
						<div class="services-list__item uk-invisible">
							<div class="services-list__inner">
								<div class="services-list__name">Антицеллюлитный массаж</div>
								<a href="#" class="services-list__link">Перейти в раздел</a>
							</div>
						</div>
						<div class="services-list__item uk-invisible">
							<div class="services-list__inner">
								<div class="services-list__name">Китайский традиционный массаж</div>
								<a href="#" class="services-list__link">Перейти в раздел</a>
							</div>
						</div>
						<div class="services-list__item uk-invisible">
							<div class="services-list__inner">
								<div class="services-list__name">Антицеллюлитный массаж</div>
								<a href="#" class="services-list__link">Перейти в раздел</a>
							</div>
						</div>
						<div class="services-list__item uk-invisible">
							<div class="services-list__inner">
								<div class="services-list__name">Китайский традиционный массаж</div>
								<a href="#" class="services-list__link">Перейти в раздел</a>
							</div>
						</div>
						<div class="services-list__item uk-invisible">
							<div class="services-list__inner">
								<div class="services-list__name">Антицеллюлитный массаж</div>
								<a href="#" class="services-list__link">Перейти в раздел</a>
							</div>
						</div>
						<div class="services-list__item uk-invisible">
							<div class="services-list__inner">
								<div class="services-list__name">Китайский традиционный массаж</div>
								<a href="#" class="services-list__link">Перейти в раздел</a>
							</div>
						</div>
					</div>
				</div>
				
				<!-- begin block-review -->
				<div class="block-review">
					<div class="review-title-wrapper">
						<h1>Отзывы о враче</h1>
						<a href="#review-modal-clinic" class="gray-btn icon-additional" data-uk-modal data-val="radio-doctor">Добавить</a>
						<a href="reviews.html" class="btn btn--gray uk-float-right">Смотреть все</a>
					</div>
					<div class="reviews-list">
						<div class="reviews-list-inner" data-uk-scrollspy="{cls: 'uk-slide-up uk-invisible', target: '.review', repeat: false, delay: 100}">
							<div class="uk-grid">
								<div class="uk-width-1-1 uk-width-medium-1-2">
									<div class="review uk-invisible">
										<time class="review__date" datetime="2018-30-01">30.01.2018</time>
										<div class="review__author">Дмитрий</div>
										<div class="review__target">Отзыв о враче Валерий Ломаносов</div>
										<div class="review__text">
											В середине года перенес операцию по удалению парапроктита. Хирург провела операцию хорошо, но ранка после операции окончательно не заживала несколько месяцев. Фактически наугад обратился к Валерию Михайловичу, повезло (не секрет, что поиск хорошего врача у нас в стране - это лотерея и деньги ничего не гарантируют) - на первой консультации доктор назначил ряд лекарств и процедур, которые за 2 недели радикально помогли. Мои наилучшие рекомендации - интеллигентный, внимательный и опытный доктор.
										</div>
									</div>
									<div class="review uk-invisible">
										<time class="review__date" datetime="2018-30-01">30.01.2018</time>
										<div class="review__author">Дмитрий</div>
										<div class="review__target">Отзыв о враче Валерий Ломаносов</div>
										<div class="review__text">
											В середине года перенес операцию по удалению парапроктита. Хирург провела операцию хорошо, но ранка после операции окончательно не заживала несколько месяцев. Фактически наугад обратился к Валерию Михайловичу, повезло (не секрет, что поиск хорошего врача у нас в стране - это лотерея и деньги ничего не гарантируют) - на первой консультации доктор назначил ряд лекарств и процедур, которые за 2 недели радикально помогли. Мои наилучшие рекомендации - интеллигентный, внимательный и опытный доктор.
										</div>
									</div>
								</div>
								<div class="uk-width-1-1 uk-width-medium-1-2">
									<div class="review uk-invisible">
										<time class="review__date" datetime="2018-30-01">30.01.2018</time>
										<div class="review__author">Алексей</div>
										<div class="review__target">Отзыв о клинике</div>
										<div class="review__text">
											В середине года перенес операцию по удалению парапроктита. Хирург провела операцию хорошо, но ранка после операции окончательно не заживала несколько месяцев. Фактически наугад обратился к Валерию Михайловичу
										</div>
									</div>
									<div class="review uk-invisible">
										<time class="review__date" datetime="2018-30-01">30.01.2018</time>
										<div class="review__author">Дмитрий</div>
										<div class="review__target">Отзыв о враче Валерий Ломаносов</div>
										<div class="review__text">
											В середине года перенес операцию по удалению парапроктита. Хирург провела операцию хорошо, но ранка после операции окончательно не заживала несколько месяцев. Фактически наугад обратился к Валерию Михайловичу, повезло (не секрет, что поиск хорошего врача у нас в стране - это лотерея и деньги ничего не гарантируют) - на первой консультации доктор назначил ряд лекарств и процедур, которые за 2 недели радикально помогли. Мои наилучшие рекомендации - интеллигентный, внимательный и опытный доктор.
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="upload-more-wrapper">
						<a href="" class="upload-more" data-uk-scrollspy="{cls: 'load', repeat: false, delay: 100}">Загрузить еще</a>
					</div>
				</div>
				<!-- end block-review -->

			</div>
		</div>
	</div>
{% endblock %}
