{% extends "layouts/default.html" %}
{% set title="Главная" %}
{% block content %}
	<div class="main-slider preload">
		<div class="slide">
			<div class="slide__img-bg" style="background-image: url('img/slide-img-1-1920x440.jpg')"></div>
			<div class="uk-container">
				<div class="slide__title">
					Анализы и диагностика заболеваний 1
				</div>
				<div class="slide__text">
					Большой клинический опыт, профессиональный уровень специалистов клиники
				</div>
				<div class="slide__btn">
					<a href="" class="btn">Подробнее</a>
				</div>
			</div>
		</div>
		<div class="slide">
			<div class="slide__img-bg" style="background-image: url('img/slide-img-1-1920x440.jpg')"></div>
			<div class="uk-container">
				<div class="slide__title">
					Анализы и диагностика заболеваний 2
				</div>
				<div class="slide__text">
					Большой клинический опыт, профессиональный уровень специалистов клиники
				</div>
				<div class="slide__btn">
					<a href="" class="btn">Подробнее</a>
				</div>
			</div>
		</div>
		<div class="slide">
			<div class="slide__img-bg" style="background-image: url('img/slide-img-1-1920x440.jpg')"></div>
			<div class="uk-container">
				<div class="slide__title">
					Анализы и диагностика заболеваний 3
				</div>
				<div class="slide__text">
					Большой клинический опыт, профессиональный уровень специалистов клиники
				</div>
				<div class="slide__btn">
					<a href="" class="btn">Подробнее</a>
				</div>
			</div>
		</div>
	</div>

	<div class="our-staff">
		<div class="uk-container">
			<h2>НАШИ СПЕЦИАЛИСТЫ</h2>
			<p>Специалисты более <a href="" class="pink bold">20 направлений</a> помогут быстро выявить болезнь и назначить эффективное лечение!</p>
			<div class="our-staff__list">
				<li class="our-staff__item"><a href="#">УЗИ врач</a></li>
				<li class="our-staff__item"><a href="#">Массажист</a></li>
				<li class="our-staff__item"><a href="#">Психотерапевт</a></li>
				<li class="our-staff__item"><a href="#">Уролог</a></li>
				<li class="our-staff__item"><a href="#">УЗИ врач</a></li>
				<li class="our-staff__item"><a href="#">Косметолог</a></li>
				<li class="our-staff__item"><a href="#">Пародонтолог</a></li>
				<li class="our-staff__item"><a href="#">Гастроэнтеролог</a></li>
				<li class="our-staff__item"><a href="#">Хирург</a></li>
				<li class="our-staff__item"><a href="#">Косметолог</a></li>
				<li class="our-staff__item"><a href="#">Диетолог</a></li>
				<li class="our-staff__item"><a href="#">Педиатр</a></li>
				<li class="our-staff__item"><a href="#">Физиотерапевт</a></li>
				<li class="our-staff__item"><a href="#">Онколог</a></li>
				<li class="our-staff__item"><a href="#">Диетолог</a></li>
			</div>
			<a href="#" class="btn">Смотреть всех</a>
		</div>
	</div>

	<div class="promo">
		<div class="uk-container">
			<h2>Не знаете к кому записаться ?</h2>
			<div class="promo__text">
				Обратитесь к нам и в течении 15 минут мы Вас проконсультриуем
			</div>
			<a href="#" class="btn btn--fill">Консультация</a>
			<img src="img/promo-img.png" alt="" class="promo__img">
		</div>
	</div>

	<div class="about-company">
		<div class="uk-container">
			<div class="uk-grid">
				<div class="uk-width-6-10">
					<h2>О клинике</h2>
					<div class="about-company__text">
						Нуждаетесь ли Вы в быстрой и качественной медицинской помощи в Москве или хотите получить консультацию европейского эксперта – мы сделаем все, чтобы Вы могли восстановить свое здоровье и остались довольны нашим сервисом. 	Среди наших партнеров в Москве и Европе лишь те, чье качество лечения и чуткое отношение к пациенту уже подтверждены многолетним опытом и рекомендациями. Все специалисты клиник-партнеров работают в системе преемственности методов лечения.
					</div>
					<a href="#" class="btn">Подробнее</a>
				</div>
				<div class="uk-width-4-10">
					<div class="uk-tab gallery" data-uk-tab="{connect:'#tab-content'}">
						<li><a href="">Видео тур</a></li>
						<li><a href="">Фотогалерея</a></li>
					</div>
					<ul id="tab-content" class="uk-switcher">
						<li>
							<div class="video-frame">
								<a href="" class="video-preview">
									<img src="img/video-preview.jpg" alt="">
									<div class="video-play">
										<img src="img/youtube-btn.png" alt="">
									</div>
								</a>
								<div class="video-block">
									<div id="player"></div>
								</div>
							</div>
						</li>
						<li>
							<div class="about-company-slider preload">
								<div class="slide">
									<img src="img/slider-about-1-460x245.jpg" alt="">
								</div>
								<div class="slide">
									<img src="img/slider-about-1-460x245.jpg" alt="">
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="news">
		<div class="uk-container">
			<h2>Новости и акции</h2>
			<div class="news__list">
				<div class="news__item">
					<div class="news__img"><a href="#"><img src="img/news-img-245x140.jpg" alt=""></a></div>
					<div class="news__date-wrapper">
						<div class="news__date">10.01.2017</div>
						<div class="news__promo">Акция</div>
					</div>
					<div class="news__title">Скидка 20% на Программу лечения диабета</div>
					<div class="news__text">Нуждаетесь ли Вы в быстрой и качественной медицинской помощи в Москве или хотите …</div>
					<a href="#" class="btn">Подробнее</a>
				</div>
				<div class="news__item">
					<div class="news__img"><a href="#"><img src="img/news-img-245x140.jpg" alt=""></a></div>
					<div class="news__date-wrapper">
						<div class="news__date">10.01.2017</div>
						<div class="news__promo">Акция</div>
					</div>
					<div class="news__title">Скидка 20% на Программу лечения диабета</div>
					<div class="news__text">Нуждаетесь ли Вы в быстрой и качественной медицинской помощи в Москве или хотите …</div>
					<a href="#" class="btn">Подробнее</a>
				</div>
				<div class="news__item">
					<div class="news__img"><a href="#"><img src="img/news-img-245x140.jpg" alt=""></a></div>
					<div class="news__date-wrapper">
						<div class="news__date">10.01.2017</div>
						<div class="news__promo">Акция</div>
					</div>
					<div class="news__title">Скидка 20% на Программу лечения диабета</div>
					<div class="news__text">Нуждаетесь ли Вы в быстрой и качественной медицинской помощи в Москве или хотите …</div>
					<a href="#" class="btn">Подробнее</a>
				</div>
				<div class="news__item">
					<div class="news__img"><a href="#"><img src="img/news-img-245x140.jpg" alt=""></a></div>
					<div class="news__date-wrapper">
						<div class="news__date">10.01.2017</div>
						<div class="news__promo">Акция</div>
					</div>
					<div class="news__title">Скидка 20% на Программу лечения диабета</div>
					<div class="news__text">Нуждаетесь ли Вы в быстрой и качественной медицинской помощи в Москве или хотите …</div>
					<a href="#" class="btn">Подробнее</a>
				</div>
			</div>
			<a href="#" class="btn btn--gray">Смотреть все</a>
		</div>
	</div>

	<div class="partners">
		<div class="uk-container">
			<h2>Партнеры</h2>
			<div class="partners__list">
				<div class="partners__item"><img src="img/partners-1-160x80.png" alt="Согаз"></div>
				<div class="partners__item"><img src="img/partners-2-160x80.png" alt="Альфа страхование"></div>
				<div class="partners__item"><img src="img/partners-3-160x80.png" alt="Ингосстрах"></div>
				<div class="partners__item"><img src="img/partners-4-160x80.png" alt="Ресо"></div>
				<div class="partners__item"><img src="img/partners-5-160x80.png" alt="Росгорстрах"></div>
			</div>
		</div>
	</div>
{% endblock %}
