{% extends "layouts/default.html" %}
{% set title="Врачи" %}
{% set bread = ["Главная", "Новости"] %}
{% set main = false %}
{% block content %}
	<div class="content">
		<div class="content-header">
			<div class="uk-container">
				{% include "includes/breadcrumbs.html" %}
				<h1 class="uk-margin-small-bottom">Новости</h1>
			</div>
		</div>
		<div class="content-body">
			<div class="uk-container">
				<div class="news">
					<div class="news__list" data-uk-scrollspy="{cls:'uk-animation-fade uk-invisible', target:'.news__item', delay:200, repeat: false}">
						<div class="news__item uk-invisible">
							<div class="news__img"><a href="#"><img src="img/news-img-245x140.jpg" alt=""></a></div>
							<div class="news__date-wrapper">
								<div class="news__date">10.01.2017</div>
								<div class="news__promo">Акция</div>
							</div>
							<div class="news__title">Скидка 20% на Программу лечения диабета</div>
							<div class="news__text">Нуждаетесь ли Вы в быстрой и качественной медицинской помощи в Москве или хотите …</div>
							<a href="#" class="btn">Подробнее</a>
						</div>
						<div class="news__item uk-invisible">
							<div class="news__img"><a href="#"><img src="img/news-img-245x140.jpg" alt=""></a></div>
							<div class="news__date-wrapper">
								<div class="news__date">10.01.2017</div>
								<div class="news__promo">Акция</div>
							</div>
							<div class="news__title">Скидка 20% на Программу лечения диабета</div>
							<div class="news__text">Нуждаетесь ли Вы в быстрой и качественной медицинской помощи в Москве или хотите …</div>
							<a href="#" class="btn">Подробнее</a>
						</div>
						<div class="news__item uk-invisible">
							<div class="news__img"><a href="#"><img src="img/news-img-245x140.jpg" alt=""></a></div>
							<div class="news__date-wrapper">
								<div class="news__date">10.01.2017</div>
								<div class="news__promo">Акция</div>
							</div>
							<div class="news__title">Скидка 20% на Программу лечения диабета</div>
							<div class="news__text">Нуждаетесь ли Вы в быстрой и качественной медицинской помощи в Москве или хотите …</div>
							<a href="#" class="btn">Подробнее</a>
						</div>
						<div class="news__item uk-invisible">
							<div class="news__img"><a href="#"><img src="img/news-img-245x140.jpg" alt=""></a></div>
							<div class="news__date-wrapper">
								<div class="news__date">10.01.2017</div>
								<div class="news__promo">Акция</div>
							</div>
							<div class="news__title">Скидка 20% на Программу лечения диабета</div>
							<div class="news__text">Нуждаетесь ли Вы в быстрой и качественной медицинской помощи в Москве или хотите …</div>
							<a href="#" class="btn">Подробнее</a>
						</div>
						<div class="news__item uk-invisible">
							<div class="news__img"><a href="#"><img src="img/news-img-245x140.jpg" alt=""></a></div>
							<div class="news__date-wrapper">
								<div class="news__date">10.01.2017</div>
								<div class="news__promo">Акция</div>
							</div>
							<div class="news__title">Скидка 20% на Программу лечения диабета</div>
							<div class="news__text">Нуждаетесь ли Вы в быстрой и качественной медицинской помощи в Москве или хотите …</div>
							<a href="#" class="btn">Подробнее</a>
						</div>
						<div class="news__item uk-invisible">
							<div class="news__img"><a href="#"><img src="img/news-img-245x140.jpg" alt=""></a></div>
							<div class="news__date-wrapper">
								<div class="news__date">10.01.2017</div>
								<div class="news__promo">Акция</div>
							</div>
							<div class="news__title">Скидка 20% на Программу лечения диабета</div>
							<div class="news__text">Нуждаетесь ли Вы в быстрой и качественной медицинской помощи в Москве или хотите …</div>
							<a href="#" class="btn">Подробнее</a>
						</div>
						<div class="news__item uk-invisible">
							<div class="news__img"><a href="#"><img src="img/news-img-245x140.jpg" alt=""></a></div>
							<div class="news__date-wrapper">
								<div class="news__date">10.01.2017</div>
								<div class="news__promo">Акция</div>
							</div>
							<div class="news__title">Скидка 20% на Программу лечения диабета</div>
							<div class="news__text">Нуждаетесь ли Вы в быстрой и качественной медицинской помощи в Москве или хотите …</div>
							<a href="#" class="btn">Подробнее</a>
						</div>
						<div class="news__item uk-invisible">
							<div class="news__img"><a href="#"><img src="img/news-img-245x140.jpg" alt=""></a></div>
							<div class="news__date-wrapper">
								<div class="news__date">10.01.2017</div>
								<div class="news__promo">Акция</div>
							</div>
							<div class="news__title">Скидка 20% на Программу лечения диабета</div>
							<div class="news__text">Нуждаетесь ли Вы в быстрой и качественной медицинской помощи в Москве или хотите …</div>
							<a href="#" class="btn">Подробнее</a>
						</div>

					</div>
					<ul class="uk-pagination">
						<li class="uk-disabled">
							<a href="" class="icon-left-arrow-icon"></a>
						</li>
						<li>
							<a href="" class="icon-right-arrow-icon"></a>
						</li>
						<li class="uk-active"><span>1</span></li>
						<li><span>из</span></li>
						<li><span>10</span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
