{% extends "layouts/default.html" %}
{% set title="Акция ко Дню борьбы с сахарным диабетом" %}
{% set bread = ["Главная", "Новости"] %}
{% set main = false %}
{% block content %}
	<div class="content">
		<div class="content-header">
			<div class="uk-container">
				{% include "includes/breadcrumbs.html" %}
			</div>
		</div>
		<div class="content-body">
			<div class="uk-container">
				<div class="news-detail">
					<div class="news-detail__banner">
						<img src="img/news-detail-banner-1140x420.jpg" alt="">
					</div>
					<div class="uk-grid">
						<div class="uk-width-1-1 uk-width-large-7-10">
							<div class="news-detail__desc">
								<div class="news-detail__date">14 ноября 2018 / Новости </div>
								<div class="news-detail__title">
									<h1>Акция ко Дню борьбы с сахарным диабетом</h1>
								</div>
								<div class="news-detail__promo-title">
									Скидка 20% на "Программу лечения диабета".
								</div>
								<div class="news-detail__text">
									<p>Скидка 20% на "Программу лечения диабета". Стоимость программы составляет 17 664 рубля вместо 22 220 рублей: - за полный комплекс услуг, включающий: осмотр и консультацию пациента требуемыми специалистами,сдачу необходимых анализов, УЗИ брюшной полости и щитовидной железы, ЭКГ с расшифровкой и описанием, допплерографию в дуплексном и цветовом режимах (УЗДГ) парных артерий нижних конечностей и т.д. </p>
									<p>Более полную информацию о перечне услуг входящих в данную программу, Вы можете узнать у администраторов нашей клиник, позвони по телефону +7 (495) 104 23 50</p>
									<p>При приобретении нашей "Программы лечения диабета" вы получаете бонус: "Внутривенное капельное вливание" группы препаратов Альфа-липоевой кислоты: из курса 10 капельниц 5 Вы получаете в подарок. Вы заплатите всего 3 600 рублей за постановку 10 капельниц, вместо 7 200 рублей (не включая стоимость препарата, его вы можете, как приобрести в нашей клинике, так и принести с собой).</p>
									<p>Очень важно выявлять диабет на ранних стадиях, делать профилактику, чтобы избежать микро и макро сосудистых осложнений. Гликированный (гликозилированный) гемоглобин нужно проверять не реже 1 раза в 3 месяца, особенно тем людям у которых поставлен диагноз «сахарный диабет». Он не должна превышать уровня более чем в 7% от объема обычного гемоглобина.</p>
								</div>
							</div>
						</div>
						<div class="uk-width-1-1 uk-width-large-3-10">
							<div class="promo-sidebar">
								<a href=""><img src="img/sidebar-banner-1.jpg" alt=""></a>
								<a href=""><img src="img/sidebar-banner-2.png" alt=""></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
