{% extends "layouts/default.html" %}
{% set title="Услуги и цены" %}
{% set bread = ["Главная", "Услуги и цены"] %}
{% set main = false %}
{% block content %}
	<div class="content">
		<div class="content-header">
			<div class="uk-container">
				{% include "includes/breadcrumbs.html" %}
				<h1>Наши услуги и цены</h1>
				<form action="" class="page-form-search">
					<input type="text" placeholder="Поиск услуг и цен">
					<button class="page-form-search__btn icon-search"></button>
				</form>
			</div>
		</div>
		<div class="content-body">
			<div class="uk-container">
				<div class="uk-grid">
					<div class="uk-width-1-1 uk-width-large-3-10">
						<div class="directions-filter">
							<div class="directions-filter__title">Фильтр по направлениям</div>
							<ul class="directions-filter__list">
								<li><a href="#">Акушерство </a></li>
								<li><a href="#">Аллергология</a></li>
								<li><a href="#">Гастроэнтерология</a></li>
								<li><a href="#">Гинекология</a></li>
								<li><a href="#">Годовые медицинские программы</a></li>
								<li><a href="#">Гомеопатия</a></li>
								<li><a href="#">Дерматология и Трихология</a></li>
								<li><a href="#">Диетология</a></li>
								<li><a href="#">Диспансеризация (CHECK-UP)</a></li>
								<li><a href="#">Кардиология</a></li>
								<li><a href="#">Колопроктология</a></li>
								<li><a href="#">Косметология инъекционная</a></li>
								<li><a href="#">Лечение и диагностика за рубежом</a></li>
								<li><a href="#">Маммология</a></li>
								<li><a href="#">Мануальная терапия </a></li>
								<li><a href="#">Массаж</a></li>
								<li><a href="#">Онкология</a></li>
								<li><a href="#">Оториноларингология</a></li>
								<li><a href="#">Офтальмология</a></li>
								<li><a href="#">Справки </a></li>
								<li><a href="#">Стоматология</a></li>
								<li><a href="#">Терапия</a></li>
								<li><a href="#">Травматология и ортопедия</a></li>
								<li><a href="#">Терапия</a></li>
								<li><a href="#">Травматология и ортопедия</a></li>
								<li><a href="#">Урология</a></li>
								<li><a href="#">Физиотерапия</a></li>
								<li><a href="#">Хирургия</a></li>
								<li><a href="#">Эндокринология</a></li>
								<li><a href="#">Эндоскопия</a></li>
							</ul>
						</div>
					</div>
					<div class="uk-width-1-1 uk-width-large-7-10">
						<div class="service-coast-wrapper">
							<div class="service-coast">
								<div class="service-coast__inner">
									<div class="service-coast__name">Лютеинизирующий гормон (ЛГ)</div>
									<div class="service-coast__value">
										<div class="service-coast__price">570 руб</div>
										<div class="service-coast__arrow icon-arrow-up-icon"></div>
									</div>
								</div>
							</div>
							<div class="service-coast">
								<div class="service-coast__inner">
									<div class="service-coast__name">Фолликулостимулирующий гормон (ФСГ)</div>
									<div class="service-coast__value">
										<div class="service-coast__price">570 руб</div>
										<div class="service-coast__arrow icon-arrow-up-icon"></div>
									</div>
								</div>
							</div>
							<div class="service-coast list open">
								<div class="service-coast__inner">
									<div class="service-coast__name">Лютеинизирующий гормон (ЛГ)</div>
									<div class="service-coast__value">
										<div class="service-coast__price">570 руб</div>
										<div class="service-coast__arrow icon-arrow-down-icon"></div>
									</div>
								</div>
								<ul class="service-coast__sublist">
									<li>
										<div class="service-coast">
											<div class="service-coast__inner">
												<div class="service-coast__name">Лютеинизирующий гормон (ЛГ)</div>
												<div class="service-coast__value">
													<div class="service-coast__price">570 руб</div>
													<div class="service-coast__arrow icon-arrow-down-icon"></div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="service-coast">
											<div class="service-coast__inner">
												<div class="service-coast__name">Лютеинизирующий гормон (ЛГ)</div>
												<div class="service-coast__value">
													<div class="service-coast__price">570 руб</div>
													<div class="service-coast__arrow icon-arrow-down-icon"></div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="service-coast list">
								<div class="service-coast__inner">
									<div class="service-coast__name">Лютеинизирующий гормон (ЛГ)</div>
									<div class="service-coast__value">
										<div class="service-coast__price">570 руб</div>
										<div class="service-coast__arrow icon-arrow-down-icon"></div>
									</div>
								</div>
								<ul class="service-coast__sublist">
									<li>
										<div class="service-coast">
											<div class="service-coast__inner">
												<div class="service-coast__name">Лютеинизирующий гормон (ЛГ)</div>
												<div class="service-coast__value">
													<div class="service-coast__price">570 руб</div>
													<div class="service-coast__arrow icon-arrow-down-icon"></div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="service-coast">
											<div class="service-coast__inner">
												<div class="service-coast__name">Лютеинизирующий гормон (ЛГ)</div>
												<div class="service-coast__value">
													<div class="service-coast__price">570 руб</div>
													<div class="service-coast__arrow icon-arrow-down-icon"></div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="service-coast">
								<div class="service-coast__inner">
									<div class="service-coast__name">Фолликулостимулирующий гормон (ФСГ)</div>
									<div class="service-coast__value">
										<div class="service-coast__price">570 руб</div>
										<div class="service-coast__arrow icon-arrow-up-icon"></div>
									</div>
								</div>
							</div>
							<div class="service-coast">
								<div class="service-coast__inner">
									<div class="service-coast__name">Эстрадиол</div>
									<div class="service-coast__value">
										<div class="service-coast__price">570 руб</div>
										<div class="service-coast__arrow icon-arrow-up-icon"></div>
									</div>
								</div>
							</div>
							<div class="service-coast">
								<div class="service-coast__inner">
									<div class="service-coast__name">Лютеинизирующий гормон (ЛГ)</div>
									<div class="service-coast__value">
										<div class="service-coast__price">570 руб</div>
										<div class="service-coast__arrow icon-arrow-down-icon"></div>
									</div>
								</div>
							</div>
							<div class="service-coast">
								<div class="service-coast__inner">
									<div class="service-coast__name">Фолликулостимулирующий гормон (ФСГ)</div>
									<div class="service-coast__value">
										<div class="service-coast__price">570 руб</div>
										<div class="service-coast__arrow icon-arrow-up-icon"></div>
									</div>
								</div>
							</div>
							<div class="service-coast">
								<div class="service-coast__inner">
									<div class="service-coast__name">Эстрадиол</div>
									<div class="service-coast__value">
										<div class="service-coast__price">570 руб</div>
										<div class="service-coast__arrow icon-arrow-up-icon"></div>
									</div>
								</div>
							</div>
							<div class="service-coast">
								<div class="service-coast__inner">
									<div class="service-coast__name">Лютеинизирующий гормон (ЛГ)</div>
									<div class="service-coast__value">
										<div class="service-coast__price">570 руб</div>
										<div class="service-coast__arrow icon-arrow-down-icon"></div>
									</div>
								</div>
							</div>
							<div class="service-coast">
								<div class="service-coast__inner">
									<div class="service-coast__name">Фолликулостимулирующий гормон (ФСГ)</div>
									<div class="service-coast__value">
										<div class="service-coast__price">570 руб</div>
										<div class="service-coast__arrow icon-arrow-up-icon"></div>
									</div>
								</div>
							</div>
							<div class="service-coast">
								<div class="service-coast__inner">
									<div class="service-coast__name">Эстрадиол</div>
									<div class="service-coast__value">
										<div class="service-coast__price">570 руб</div>
										<div class="service-coast__arrow icon-arrow-up-icon"></div>
									</div>
								</div>
							</div>
							<div class="service-coast">
								<div class="service-coast__inner">
									<div class="service-coast__name">Лютеинизирующий гормон (ЛГ)</div>
									<div class="service-coast__value">
										<div class="service-coast__price">570 руб</div>
										<div class="service-coast__arrow icon-arrow-down-icon"></div>
									</div>
								</div>
							</div>
						</div>
						<ul class="uk-pagination">
						    <li class="uk-disabled">
						    	<a href="" class="icon-left-arrow-icon"></a>
						   	</li>
						    <li>
						    	<a href="" class="icon-right-arrow-icon"></a>
						   	</li>
						    <li class="uk-active"><span>1</span></li>
						    <li><span>из</span></li>
						    <li><span>10</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
