{% extends "layouts/default.html" %}
{% set title="Климактерический синдром" %}
{% set bread = ["Главная", "Направления", "Гинекология", "Климактерический синдром"] %}
{% set main = false %}
{% block content %}
	<div class="content">
		<div class="services-detail-header" style="background-image: url('img/detail-bg.png')">
			<div class="uk-container">
				{% include "includes/breadcrumbs.html" %}
				<h1>Климактерический синдром</h1>
			</div>
		</div>
		<div class="content-body">
			<div class="uk-container">
				<div class="uk-grid">
					<div class="uk-width-1-1 uk-width-large-7-10">
						<h3>Климактерический синдром</h3>
						<div class="service-coast-wrapper">
							<div class="service-coast">
								<div class="service-coast__inner">
									<div class="service-coast__name">Прием (осмотр, консультация) врача гинеколога-эндокринолога</div>
									<div class="service-coast__value">
										<div class="service-coast__price">2000 руб</div>
										<div class="service-coast__arrow icon-arrow-up-icon"></div>
									</div>
								</div>
							</div>
						</div>
						<h3>Лабораторная диагностика</h3>
						<div class="service-coast-wrapper">
							<div class="service-coast">
								<div class="service-coast__inner">
									<div class="service-coast__name">Лютеинизирующий гормон (ЛГ)</div>
									<div class="service-coast__value">
										<div class="service-coast__price">570 руб</div>
										<div class="service-coast__arrow icon-arrow-up-icon"></div>
									</div>
								</div>
							</div>
							<div class="service-coast list">
								<div class="service-coast__inner">
									<div class="service-coast__name">Лютеинизирующий гормон (ЛГ)</div>
									<div class="service-coast__value">
										<div class="service-coast__price">570 руб</div>
										<div class="service-coast__arrow icon-arrow-down-icon"></div>
									</div>
								</div>
								<ul class="service-coast__sublist">
									<li>
										<div class="service-coast">
											<div class="service-coast__inner">
												<div class="service-coast__name">Лютеинизирующий гормон (ЛГ)</div>
												<div class="service-coast__value">
													<div class="service-coast__price">570 руб</div>
													<div class="service-coast__arrow icon-arrow-down-icon"></div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="service-coast">
											<div class="service-coast__inner">
												<div class="service-coast__name">Лютеинизирующий гормон (ЛГ)</div>
												<div class="service-coast__value">
													<div class="service-coast__price">570 руб</div>
													<div class="service-coast__arrow icon-arrow-down-icon"></div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="service-coast list open">
								<div class="service-coast__inner">
									<div class="service-coast__name">Лютеинизирующий гормон (ЛГ)</div>
									<div class="service-coast__value">
										<div class="service-coast__price">570 руб</div>
										<div class="service-coast__arrow icon-arrow-down-icon"></div>
									</div>
								</div>
								<ul class="service-coast__sublist">
									<li>
										<div class="service-coast">
											<div class="service-coast__inner">
												<div class="service-coast__name">Лютеинизирующий гормон (ЛГ)</div>
												<div class="service-coast__value">
													<div class="service-coast__price">570 руб</div>
													<div class="service-coast__arrow icon-arrow-down-icon"></div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="service-coast">
											<div class="service-coast__inner">
												<div class="service-coast__name">Лютеинизирующий гормон (ЛГ)</div>
												<div class="service-coast__value">
													<div class="service-coast__price">570 руб</div>
													<div class="service-coast__arrow icon-arrow-down-icon"></div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="service-coast">
								<div class="service-coast__inner">
									<div class="service-coast__name">Эстрадиол</div>
									<div class="service-coast__value">
										<div class="service-coast__price">570 руб</div>
										<div class="service-coast__arrow icon-arrow-up-icon"></div>
									</div>
								</div>
							</div>
						</div>
						<p>Климактерический синдром - симптомокомплекс, который отягощает естественное течение климакса и характеризуется нейропсихическими (раздражительность, перепады настроения, депрессия), вазомоторными (приливы жара, избыточная потливость, изменение показателей частоты сердечных сокращений, артериального давления), урогенитальными (стрессовое недержание мочи) и другими  нарушениями.</p>
						<p>Частота климактерического синдрома составляет 26%-48%.</p>
						<p>Отсутствие своевременной коррекции климактерического синдрома может быть одной из ведущих причин гипертонии, атеросклероза, инфаркта миокарда, остеопороза и ряда других заболеваний.</p>
						<p>Прогрессирующее увеличение средней продолжительности жизни женщины, увеличение периода социальной активности диктует необходимость грамотной коррекции и подбора заместительной гормональной терапии, а также альтернативной терапии с использованием препаратов с эстрагенподобным и антиклимактерическим действием.</p>
						<p>Благодаря высококвалифицированным гинекологам-эндокринологам нашей клиники, пациентка получит консультацию по ведению климакса, по показаниям будет проведено гормональное обследование и подбор заместительной гормональной терапии или же альтернативных методов коррекции нейропсихических, вазомоторных и  урогенитальных дисфункций. А это в свою очередь, позволит сохранить работоспособность, физическую активность, хорошее настроение и молодость. </p>
						<h3>ВРАЧИ ОТДЕЛА ГИНЕКОЛОГИИ</h3>
						<div class="staff-cards-list column-3" data-uk-scrollspy="{cls:'uk-animation-fade uk-invisible', target:'.staff-card', delay:200, repeat: false}">
							<div class="staff-card uk-invisible">
								<div class="staff-card__img"><img src="img/staff-card-img-235x200.jpg" alt="Папугин Андрей Владимирович"></div>
								<div class="staff-card__desc">
									<div class="staff-card__name"><span>Папугин</span>Андрей Владимирович</div>
									<div class="staff-card__text">Врач дерматовенеролог — косметолог. Высшей квалификационной категории.</div>
									<a href="#" class="btn btn--fill icon-doctor-symbol">Запись к врачу</a>
								</div>
							</div>
							<div class="staff-card uk-invisible">
								<div class="staff-card__img"><img src="img/staff-card-img-235x200.jpg" alt="Папугин Андрей Владимирович"></div>
								<div class="staff-card__desc">
									<div class="staff-card__name"><span>Папугин</span>Андрей Владимирович</div>
									<div class="staff-card__text">Врач дерматовенеролог — косметолог. Высшей квалификационной категории.</div>
									<a href="#" class="btn btn--fill icon-doctor-symbol">Запись к врачу</a>
								</div>
							</div>
						</div>
					</div>
					<div class="uk-width-1-1 uk-width-large-3-10">
						<div class="promo-sidebar">
							<a href="" class="btn btn--fill btn--big icon-doctor-symbol">Запись на прием</a>
							<a href=""><img src="img/sidebar-banner-1.jpg" alt=""></a>
							<a href=""><img src="img/sidebar-banner-2.png" alt=""></a>
							<div class="pay-list">
								<div class="pay-list__title">Принимаем к оплате</div>
								<img src="img/visa-us-vector-logo.png" alt="">
								<img src="img/mastercard-logo-png.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
