	<section>
		<a href="" class="btn">Консультация</a><br>
		<button class="btn">Консультация</button><br>
		<a href="" class="btn btn--gray">Смотреть все</a><br>
		<button class="btn btn--gray">Смотреть все</button><br>
		<a href="" class="btn btn--fill">Консультация</a><br>
		<a href="" class="btn btn--fill icon-doctor-symbol">Консультация</a><br>
		<button class="btn btn--fill">Консультация</button>
	</section>
	<div class="test">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam cupiditate unde maxime. Numquam, unde, voluptate. Unde magnam animi repudiandae, dolorum quis sint repellendus consectetur officia, doloremque esse, recusandae eligendi voluptatum, veritatis cumque libero voluptas error nam ea. Nesciunt molestiae, reprehenderit tempora deserunt quae eos nemo laudantium. Tenetur, autem enim animi magni, fuga debitis, labore architecto dolor minima, quisquam nemo maiores unde incidunt corporis cum ex eaque quas quaerat dicta! Pariatur id consectetur est, eos eius quidem animi sed impedit nisi sunt. Exercitationem eos doloribus quidem eveniet consectetur omnis magnam nam repellat. Earum repellendus, officia eaque optio odio consequuntur? Non dicta, accusantium facere, ipsum dolor eveniet velit! Qui ducimus sequi et perferendis at quas, explicabo possimus ipsa sit dignissimos alias repellendus? Maxime recusandae dolores nostrum libero.
		<a href="">LINK1</a>
		<a href="" class="black">LINK2</a>
		<a href="" class="pink bold">LINK3</a>
	</div>
	<h1>Lorem</h1>
	<h2>Lorem</h2>
	<h3>Lorem</h3>
	<h4>Lorem</h4>
	<h5>Lorem</h5>
